
lib/data/*
data/*
node_modules/*
node_modules/mime/*
node_modules/base64url/*
*.log
./public_html/js/localsetting.js
public_html/js/localsetting.js

public_html/js/localsetting.js

lib/data/OKDMWHgkDCdAmA
.idea
package-lock.json
*.wt

diagnostic.data/*
journal/*
mongod.lock

*.turtle

*.lock

WiredTiger

*.bson
